.result-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.result-card {
  width: 500px;
  text-align: center;
}

.result-card img {
  width: 100%;
  border-radius: 12px;
  margin: 20px 0;
}