@media(max-width: 768px) {

  .features {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  .navbar {
    padding: 20px;
  }

  .hero h1 {
    font-size: 42px;
  }

}