.auth-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: #121212;
  color: white;
}