.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 60px;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 22px;
  font-weight: 600;
}

.logo img {
  width: 40px;
  height: 40px;

  object-fit: cover;
}